@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat.ttf');
}

* {
    font-family: Montserrat;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(194, 194, 194);
    background: linear-gradient(335deg, #881f56 0%, #e99166 100%);
    color: #ffffff;
}

#id_container {
    background: #2c2c2c99;
    padding: 12px;
    margin-top: 0px;
    border-radius: 5px;
}

#screen_container {
    position: relative;
    width: 69%;
    height: calc(100vh - 220px);

    border-radius: 5px;
    background: #2c2c2c99;
    margin: 0px 20px 20px 20px;

    padding: 5px;
}

#video_container {
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border-radius: 5px;
}

#bottom_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    color: white;
    border: none;
    font-size: 18px;
    height: 25px;
    border-radius: 3px;
    padding: 5px;
    background-color: #35353599;
    outline: none;
}

button {
    color: white;
    font-size: 16px;
    background: #35353599;

    width: 35px;
    border-radius: 3px;
    height: 35px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}
